.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12px);

  .bannerText {
    margin-bottom: unset;
    font-size: rem(14px);
    line-height: 140%;
    font-weight: 400;
    color: #000;

    span {
      color: #ff7e21;
    }

    @include mobile {
      text-align: center;
      padding-left: rem(8px);
      padding-right: rem(8px);
    }
  }

  .bannerButton {
    display: flex;
    align-items: center;
    background: #000;
    color: #fff;
    gap: rem(8px);
    padding: rem(8px) rem(12px);
  }

  &_link {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: rem(12px);
    line-height: 129%;

    &:hover {
      text-decoration: none;
    }
  }
}
