.sunbackSection {
    position: relative;
    width: 100%;
    height: 100vh;

    .wrapContent {
        max-width: rem(1074px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .sectionTitle {
            font-size: rem(68px);
            line-height: 100%;
            font-family: var(--righteous-font);
            color: #fff;
            margin-bottom: rem(24px);
        }

        .sectionContent {
            color: #fff;
            font-size: rem(24px);
            line-height: 140%;
            margin-bottom: rem(40px);
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: rem(12px);

            .button {
                padding: rem(16px) rem(40px);
                border-radius: 100px;
                cursor: pointer;
                font-size: rem(16px);
                line-height: 112%;


                &.init {
                    border: 1px solid #fff;
                    background: #fff;
                    color: #000;
                }

                &.trans {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background: rgba(255, 255, 255, 0.05);
                    color: #fff;
                }
            }
        }
    }
}