    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 1000;
        transition: .5s $easeOutQuart;
        opacity: 0;
        pointer-events: none;

        .wrapVideo {
            width: 100%;
            height: 100vh;

            .videoBox {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 62.5%;
                height: 62.5%;

                .closeModal {
                    position: absolute;
                    right: 0;
                    top: -15px;
                    transform: translateY(-100%);
                    display: flex;
                    align-items: center;
                    gap: rem(8px);
                    cursor: pointer;

                    .iconClose {

                        @include mobile {
                            svg {
                                width: rem(10px);
                                height: rem(10px);
                            }
                        }

                        @include tablet {
                            svg {
                                width: rem(16px);
                                height: rem(16px);
                            }
                        }
                    }

                    span {
                        font-size: rem(14px);
                        line-height: 140%;
                        font-weight: 400;
                        color: #fff;
                    }

                    @include mobile {
                        span {
                            font-size: rem(12px);
                        }
                    }

                    @include min-tablet {
                        span {
                            font-size: rem(14px);
                        }
                    }

                }

                video {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                @include mobile {
                    width: 90%;
                    height: auto;
                }

                @include pcSmall {
                    width: 62.5%;
                    height: 62.5%;
                }
            }
        }

        &.show {
            pointer-events: initial;
            opacity: 1;
        }
    }