.status {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    border-radius: 50%;
    position: absolute;
  }

  &::before {
    width: 10px;
    height: 10px;
    background-color: #0ac681;
  }

  &::after {
    width: 16px;
    height: 16px;
    background-color: rgba(10, 198, 129, 0.2);
  }
}
