.progressBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: rem(20px);
  width: 100%;
  height: auto;
  z-index: 3;
  opacity: 0;
  pointer-events: none;

  &.isShow {
    pointer-events: auto;
    opacity: 1;
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20px);
  }

  .progress {
    position: relative;
    flex: 1;
    --po: 0;
    --rote: 0deg;

    .line {
      width: 100%;
      height: 1px;
      background: rgba(#fff, 0.2);

      &_po {
        height: 1px;
        display: block;
        background: linear-gradient(
          270deg,
          #ffffff 0.55%,
          rgba(255, 255, 255, 0) 100%
        );
        position: absolute;
        left: 0;
        top: 0;
        width: var(--po);
      }
    }

    .point {
      position: absolute;
      top: 50%;
      left: calc(var(--po) - #{rem(10px)});
      transform: translateY(-50%);

      @include mobile {
        left: var(--po);

        svg {
          width: rem(10px);
          height: rem(10px);
        }
      }

      @include min-tablet {
        left: calc(var(--po) - #{rem(10px)});

        svg {
          width: rem(20px);
          height: rem(20px);
        }
      }
    }
  }

  .playBtn {
    transform: rotate(var(--rote));
    color: #fff;

    @include mobile {
      svg {
        width: rem(24px);
        height: rem(24px);
      }
    }

    @include min-tablet {
      svg {
        width: rem(48px);
        height: rem(48px);
      }
    }
  }

  .audioBtn {
    cursor: pointer;
    position: relative;

    .audioIcon {
      svg {
        path {
          display: none;
        }
      }

      @include mobile {
        svg {
          width: rem(20px);
          height: rem(20px);
        }
      }

      @include min-tablet {
        svg {
          width: rem(36px);
          height: rem(36px);
        }
      }
    }

    .audioIconAnimate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(12px);
      height: rem(18px);
      display: flex;
      align-items: flex-end;
      gap: calc(100% / 5);
      transition: 0.5s $easeOutQuart;

      @include mobile {
        width: rem(5px);
        height: rem(8px);
      }

      @include min-tablet {
        width: rem(12px);
        height: rem(18px);
      }

      span {
        width: calc(100% / 5);
        background: #fff;
        transition: 0.5s $easeOutQuart;

        &.audioIconAnimate_line1 {
          height: 50%;
        }

        &.audioIconAnimate_line2 {
          height: 70%;
        }

        &.audioIconAnimate_line3 {
          height: 100%;
        }
      }

      @keyframes heightAnimation {
        0% {
          height: 50%;
        }

        50% {
          height: 100%;
        }

        100% {
          height: 50%;
        }
      }

      &.activeAnimation {
        span {
          &.audioIconAnimate_line1 {
            animation: heightAnimation 1.5s infinite;
            animation-delay: 0.5s;
          }

          &.audioIconAnimate_line2 {
            animation: heightAnimation 1.5s infinite;
            animation-delay: 0.75s;
          }

          &.audioIconAnimate_line3 {
            animation: heightAnimation 1.5s infinite;
          }
        }
      }
    }

    &:hover {
      .audioIconAnimate {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  @include mobile {
    display: none;
  }

  @include min-tablet {
    display: block;
  }
}
