.adoptStatus {
  width: 100%;
  padding-top: rem(20px);
  padding-bottom: rem(120px);

  @include mobile {
    padding-bottom: rem(60px);
  }

  :global(.tab-content) {
    padding-top: rem(32px);
  }
}

.container {
  max-width: rem(1514px);
}

.sectionTitle {
  text-align: center;
  margin-bottom: rem(32px);
  font-size: rem(40px);
  font-weight: 500;
  line-height: 140%;

  @include mobile {
    margin-bottom: rem(24px);
    font-size: rem(32px);
    text-align: left;
  }
}

.dataList {
  overflow-x: auto;
}

.tableData {
  table {
    border-collapse: separate;
    border-spacing: 0 rem(12px);

    th {
      padding: rem(8px) rem(16px);
    }

    td {
      padding: rem(16px);
    }

    thead {
      th {
        color: #000 !important;
        font-size: rem(14px) !important;
        line-height: 140% !important;
        opacity: 0.6;
        font-weight: 400 !important;
        white-space: nowrap;
      }
    }

    tbody {
      tr {
        background: #fff;
        box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.08);

        td {
          border-top: 1px solid #ececec;
          border-bottom: 1px solid #ececec;
          cursor: pointer;
          transition: 0.2s all ease;

          &:first-child {
            border-left: 1px solid #ececec;
          }

          &:last-child {
            border-right: 1px solid #ececec;
          }
        }

        &:hover {
          td {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            &:first-child {
              border-left: 1px solid #000;
            }

            &:last-child {
              border-right: 1px solid #000;
            }
          }
        }
      }
    }
  }

  .dataText {
    font-size: rem(16px);
    line-height: 1.4;
    color: #000;
  }

  .dateWrapper {
    @include mobile {
      min-width: rem(200);
    }
  }

  .itemWrapper {
    display: flex;
    align-items: center;
    gap: rem(16px);

    @include mobile {
      min-width: rem(200);
    }

    .thumbnail {
      width: rem(48px);
      height: rem(48px);
      object-fit: contain;
    }

    .tokenId {
      font-size: rem(16px);
      line-height: 1.4;
      color: #000;
      font-weight: 500;
    }

    .traitName {
      font-size: rem(12px);
      line-height: 1.4;
      color: #000;
      opacity: 0.6;
    }
  }

  .status {
    padding: rem(4px) rem(12px);
    font-size: rem(16px);
    line-height: 1.4;
    background-color: #dde6ed;
    color: #9db2bf;
    display: inline-block;
    border-radius: 100px;

    &.bidding {
      color: #4185ec;
      background-color: #b1e3ff;
    }

    &.win {
      color: #0ac681;
      background-color: rgba(10, 198, 129, 0.2);
    }

    &.lose {
      color: #ff4747;
      background: rgba(255, 71, 71, 0.2);
    }
  }

  .actionBtn {
    padding: rem(8px) rem(12px);
    border-radius: 100px;
    background: #000;
    backdrop-filter: blur(2px);
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(18px);
    color: #fff;
    height: auto;
    min-width: rem(120px);
    width: auto;

    &:disabled {
      color: #fff;
      background: #b6b6b6;
    }
    &.disabled {
      color: #fff;
      background: #b6b6b6;
      pointer-events: none;
      cursor: not-allowed;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.action_tooltip {
  --bs-tooltip-bg: #fff;
  --bs-tooltip-arrow-width: 1rem;
  --bs-tooltip-opacity: 1;
  margin-top: rem(8px);

  :global(.tooltip-inner) {
    background: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
    padding: rem(12px) rem(16px);
    font-size: rem(14px);
    border: 1px solid #ececec;
    min-width: 60ch;
    text-align: left;
  }

  // :global(.tooltip-arrow) {
  //   width: 100%;
  //   height: 100%;

  //   &::before {
  //     position: absolute;
  //     content: '';
  //     left: 66%;
  //     bottom: 100%;
  //     border-bottom: 6px solid #fff;
  //     border-top: 6px solid transparent;
  //     border-right: 6px solid transparent;
  //     border-left: 6px solid transparent;
  //     background: 0;
  //   }
  // }

  // z-index: 999;
  // border: 1px solid #ececec;
  // border-radius: rem(8px);
  // font-size: rem(14px);
  // line-height: 140%;
  // margin-top: rem(12px);
  // max-width: rem(440px);
}
