.modalContent {
}

.reminderText {
  font-size: rem(16px);
  line-height: 1.4;
  color: #2e2e2e;
  margin-bottom: rem(28px);
}

.actionWrapper {
  display: flex;
  align-items: center;
  gap: rem(12px);
}

.withdrawBtn,
.cancelBtn {
  padding: rem(16px) rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: rem(16px);
  line-height: 1.4;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid transparent;
}

.withdrawBtn {
  background-color: #f6f6f6;
  color: #000;

  &:hover {
    border-color: #000;
  }

  &:disabled {
    background: #f4f4f4;
    color: #898989;
  }
}

.cancelBtn {
  color: #f6f6f6;
  background-color: #000;

  &:hover {
    color: #000;
    background-color: #f6f6f6;
    border-color: #000;
  }
}
