.attribute {
  width: 100%;

  &_box {
    width: 100%;
    // min-height: 100vh;
    z-index: 100;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    // min-height: 50px;
  }

  &_container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    position: fixed;
    box-shadow: 0px 0px 32px -6px #0000001a;
    background: #ffffff;
    border: 1px solid #ececec;
    font-size: rem(16px);
    border-radius: rem(100px);
    // padding: rem(18px) rem(28px);
    padding: rem(8px);
    align-items: center;
    bottom: rem(32px);
  }

  &_leftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(16px);
    gap: rem(8px);
    margin-right: rem(24px);
  }

  &_rightContainer {
    display: flex;
    align-items: center;
    margin-left: rem(20px);

    &_dropdownToggle {
      width: 100%;
    }

    &_dropdownToggle::after {
      content: none !important;
    }

    .attribute_rarity_option:hover {
      opacity: 0.6;
    }
  }

  &_button {
    text-align: center;
    padding: rem(12px) rem(24px);
    color: #000;
    background: #f6f6f6;
    text-align: center;
    border-radius: rem(100px);
    font-size: rem(16px);
    line-height: rem(18px);
    transition: 0.5s $easeOutQuart;
    cursor: pointer;

    @include mobile {
      padding: rem(12px) rem(20px);
    }

    @include tablet {
      padding: rem(12px) rem(24px);
    }

    @include pcS2M {
      padding: rem(12px) rem(24px);
    }

    @include pcWide {
      padding: rem(12px) rem(24px);
    }

    &.active {
      background: #000;
      color: #f6f6f6;
    }

    &:hover {
      color: #f6f6f6;
      background: #000;
      transition: 0.5s $easeOutQuart;
    }
  }

  &_top_rarity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);

    p {
      margin-bottom: 0;
    }
  }

  &_rarity {
    height: rem(200px);

    &_container {
      width: rem(150px);
      background: #fff;
      position: absolute;
      margin-bottom: rem(25px);
      padding: rem(8px);
      border-radius: rem(16px);
      box-shadow: 0px 0px rem(32px) rem(-6px) #0000001a;
      background: #ffffff;
    }

    &_option {
      border: none;
      outline: none;
      background: none;
      font-size: rem(16px);
      font-style: normal;
      color: #000;
      line-height: 140%;
      text-align: right;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }
  }

  &_filter {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);
    gap: rem(8px);
    padding-left: rem(24px);
    padding-right: rem(12px);
  }

  &_chevronUp {
    margin-left: rem(14px);
  }

  &_iconLive {
    width: 0;
    height: 0;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    // position: absolute;
    right: -4px;
    // transform: translateX(calc(100%));

    .dots_circle {
      width: rem(8px);
      height: rem(8px);
      border-radius: 50%;
      background: #000;
    }

    &_active {
      opacity: 1;
      width: rem(12px);
      height: rem(12px);
    }
  }
}

.filter {
  &_container {
    padding: rem(6px) rem(8px);
    gap: rem(4px);
  }

  &_dropdownToggle {
    cursor: pointer;
  }
}

.filterAttribute {
  width: 100%;

  &_container {
    position: fixed !important;
    overflow: hidden;
    margin-right: rem(-10px);
    border: 1px solid #ececec;
    box-shadow: 0px 0px rem(24px) rem(-6px) rgba(0, 0, 0, 0.12);
    border-radius: rem(20px);
    padding: rem(20px);
    width: 100vw;
    max-width: rem(715px);
    left: 50% !important;

    transform: translate(-50%, -100px) !important;

    &:after {
      height: 3%;
      width: 100%;
      position: absolute;
      content: '';
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &_header {
    font-size: rem(20px) !important;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: rem(24px);

    @include mobile {
      margin-bottom: rem(16px);
    }

    @include tablet {
      margin-bottom: rem(24px);
    }

    @include pcS2M {
      margin-bottom: rem(24px);
    }

    @include pcMid {
      margin-bottom: rem(24px);
    }

    @include pcWide {
      margin-bottom: rem(24px);
    }
  }

  &_boxComponent {
    height: 100%;
    width: 100%;
  }

  &_component {
    height: 100%;
    max-height: rem(440px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
