.attribute {
  width: 100%;

  &_box {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
  }

  &_container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    position: fixed;
    box-shadow: 0px 0px 32px -6px #0000001a;
    background: #ffffff;
    border: 1px solid #ececec;
    font-size: rem(16px);

    @include mobile {
      white-space: nowrap;
      flex-direction: column;
      justify-content: flex-start;
      bottom: rem(16px);
      border-radius: rem(40px) rem(40px) 0 0;
      bottom: 0;
      max-width: 100%;
      // gap: rem(4px);
      padding: rem(12px);
    }

    @include tabletMid {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      bottom: rem(24px);
      border-radius: rem(100px);
      max-width: rem(740px);
      // gap: rem(8px);
      padding: rem(8px);
    }

    @include tablet {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      bottom: rem(32px);
      border-radius: rem(100px);
      max-width: rem(740px);
      // gap: rem(8px);
      padding: rem(8px);
    }

    @include pcSmall {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      bottom: rem(32px);
      border-radius: rem(100px);
      max-width: rem(740px);
      padding: rem(8px);
      // gap: rem(8px);
    }

    @include pcS2M {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      bottom: rem(32px);
      border-radius: rem(100px);
      max-width: rem(740px);
      // gap: rem(8px);
      padding: rem(8px);
    }

    @include pcWide {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      white-space: nowrap;
      bottom: rem(32px);
      border-radius: rem(100px);
      max-width: rem(740px);
      // gap: rem(8px);
      padding: rem(8px);
    }
  }

  &_leftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(16px);

    @include mobile {
      gap: 0;
      justify-content: space-between;
      padding-left: rem(10px);
      // padding: 0 rem(10px);
    }

    @include tablet {
      gap: rem(8px);
    }

    @include pcSmall {
      gap: rem(8px);
    }

    @include pcS2M {
      gap: rem(8px);
    }
  }

  &_rightContainer {
    display: flex;
    align-items: center;

    &_dropdownToggle {
      width: 100%;
    }

    &_dropdownToggle::after {
      content: none !important;
    }

    @include mobile {
      justify-content: space-between;
      // padding: 0 rem(12px);
    }

    @include min-tablet {
      justify-content: space-around;
      justify-content: flex-end;
    }

    @include pcSmall {
      justify-content: flex-end;
    }

    @include pcS2M {
      justify-content: flex-end;
    }
  }

  &_button {
    text-align: center;
    padding: rem(12px) rem(24px);
    color: #000;
    background: #f6f6f6;
    text-align: center;
    border-radius: rem(100px);
    font-size: rem(16px);
    line-height: rem(18px);
    transition: 0.5s $easeOutQuart;
    cursor: pointer;

    @include mobile {
      padding: rem(12px) rem(20px);
    }

    @include tablet {
      padding: rem(12px) rem(24px);
    }

    @include pcS2M {
      padding: rem(12px) rem(24px);
    }

    @include pcWide {
      padding: rem(12px) rem(24px);
    }

    &:first-child {
      background: #000;
      color: #f6f6f6;
    }

    &:hover {
      color: #f6f6f6;
      background: #000;
      transition: 0.5s $easeOutQuart;
    }
  }

  &_top_rarity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);

    p {
      margin-bottom: 0;
    }
  }

  &_rarity {
    height: rem(200px);

    &_container {
      width: rem(150px);
      background: #fff;
      position: absolute;
      margin-bottom: rem(25px);
      padding: rem(8px);
      border-radius: rem(16px);
      box-shadow: 0px 0px rem(32px) rem(-6px) #0000001a;
      background: #ffffff;
    }

    &_option {
      border: none;
      outline: none;
      background: none;
      font-size: rem(16px);
      font-style: normal;
      color: #000;
      line-height: 140%;
      text-align: right;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }
  }

  &_divide {
    height: rem(24px);
    width: 1px;
    border: 1px solid #ececec;
    margin: 0 rem(18.5px) 0 rem(22px);

    @include mobile {
      display: none;
    }

    @include tablet {
      display: block;
    }

    @include pcSmall {
      display: block;
    }

    @include pcS2M {
      display: block;
    }
  }

  &_filter {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);

    p {
      margin-bottom: 0;
      margin: 0 rem(8px);
    }
  }

  &_chevronUp {
    margin-left: rem(14px);
  }

  &_iconLive {
    width: rem(12px);
    height: rem(12px);
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0;

    &_active {
      opacity: 1;
    }
  }
}

.filter {
  &_container {
    padding: rem(6px) rem(8px);
    gap: rem(4px);
  }

  &_dropdownToggle {
    cursor: pointer;
  }
}

.filterAttribute {
  width: 100%;

  &_container {
    position: relative;
    overflow: hidden;
    margin-right: rem(-10px);
    border: 1px solid #ececec;
    box-shadow: 0px 0px rem(24px) rem(-6px) rgba(0, 0, 0, 0.12);
    border-radius: rem(20px);
    padding: rem(20px);
    width: 100%;
    margin-bottom: rem(25px);

    &:after {
      height: 3%;
      width: 100%;
      position: absolute;
      content: '';
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @include mobile {
      height: auto;
      width: auto;
      max-height: 370px;
      min-width: 370px;
      margin: 0 auto rem(65px) -8px;
    }

    @include tabletMid {
      height: auto;
      max-height: 460px;
      min-width: 735px;
      margin: 0 rem(-18px) rem(25px) rem(-15px);
    }

    @include tabletWide {
      height: auto;
      max-height: rem(460px);
      min-width: rem(740px);
      margin: 0 rem(-20px) rem(25px) 0;
    }

    @include pcSmall {
      height: auto;
      max-height: rem(460px);
      width: rem(740px);
      margin: 0 rem(-20px) rem(25px) rem(-379px);
      overflow: hidden;
    }

    @include pcWide {
      height: auto;
      max-height: rem(460px);
      min-width: rem(740px);
      // margin: 0 auto rem(25px) rem(-605px);
    }
  }

  &_header {
    font-size: rem(20px) !important;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: rem(24px);

    @include mobile {
      margin-bottom: rem(16px);
    }

    @include tablet {
      margin-bottom: rem(24px);
    }

    @include pcS2M {
      margin-bottom: rem(24px);
    }

    @include pcMid {
      margin-bottom: rem(24px);
    }

    @include pcWide {
      margin-bottom: rem(24px);
    }
  }

  &_boxComponent {
    height: 100%;
    width: 100%;
  }

  &_component {
    height: 100%;
    max-height: rem(440px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
