.subTitle {
  color: #2e2e2e;
  font-size: rem(16px);
  line-height: calc(22 / 16);
  margin-bottom: rem(20px);
}

.deposit_wrapper {
  padding: rem(16px);
  box-shadow: 0px 0px 24px -6px #0000001f;
  border-radius: rem(12px);
  margin-bottom: rem(32px);

  .deposit_guide {
    font-size: rem(16px);
    line-height: calc(22 / 16);
    margin-bottom: rem(16px);

    span {
      color: #ff7e21;
      font-weight: 500;
    }
  }

  .balance {
    display: flex;
    align-items: center;
    gap: rem(12px);
    flex-wrap: wrap;
    margin-bottom: rem(24px);

    .balance_item {
      display: flex;
      gap: rem(6px);
      padding: rem(6px);
      background: #f6f6f6;
      border: 1px solid #ececec;
      border-radius: 100px;
      font-size: rem(14px);
      line-height: calc(16 / 14);
      color: #000;

      span:first-of-type {
        display: flex;
        align-items: center;
        font-size: rem(12px);
        padding-left: rem(6px);
        color: #5b5b5b;
      }
    }

    .balance_amount {
      box-shadow: 0px 0px 12px -6px #00000014;
      background-color: #fff;
      padding: rem(4px) rem(8px);
      border-radius: 100px;
    }
  }
}

.modal_input {
  display: flex;
  border: 1px solid #ececec;
  border-radius: 8px;
  align-items: center;
  padding: rem(13px) rem(16px);
  justify-content: space-between;
  font-size: rem(20px);
  line-height: calc(28 / 20);

  &.error {
    border: 1px solid #ff4747;
  }

  input {
    width: 100%;
  }

  .modal_input_right {
    display: flex;
    align-items: center;
    gap: rem(8px);

    button {
      flex: 500;
      font-size: 14px;
      line-height: 140%;
      color: #000000;
      padding: rem(5px) rem(16px);
      background: #f6f6f6;
      border: 1px solid #ececec;
      border-radius: 100px;
      transition: border-color 0.2s ease-in-out;

      &:hover {
        border-color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}

.errorMessage {
  color: #ff4747;
  font-weight: 400;
  font-size: rem(12px);
  line-height: 140%;
  margin-top: rem(8px);
}

.cta_btn {
  width: 100%;
  text-align: center;
  background-color: #000;
  color: white;
  padding: rem(16px) 0;
  font-size: rem(16px);
  line-height: calc(18 / 16);
  font-weight: 500;
  border: 1px solid transparent;

  &:hover {
    background: #444;
  }

  &:disabled {
    background: #f4f4f4;
    color: #898989;
    border: none;
  }
}
