.techSection {
    color: #fff;
    padding-top: rem(168px);
    overflow: hidden;
    position: relative;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .leftContainer {
        .wrapLeftContainer {
            .leftContainer-title {
                font-size: rem(68px);
                font-weight: 400;
                font-style: normal;
                line-height: 100%;
                margin-bottom: rem(60px);
                font-family: var(--righteous-font);
            }

            .leftContainer-tabs {
                display: flex;
                flex-direction: column;

                .tab {
                    font-weight: 400;
                    font-size: rem(20px);
                    line-height: 160%;
                    width: fit-content;
                    opacity: 0.6;
                    margin-bottom: rem(32px);

                    &.active {
                        opacity: 1;
                    }

                    &:last-child {
                        margin-bottom: 0
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &.fixed {
                position: fixed;
                top: rem(168px);
                left: 2.5%;
                width: 41.66666667%;
            }
        }
    }
}