.techSection {
  background: #000;
  color: #fff;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }


  --padding-top: 80px;
  padding-bottom: 80px;
  padding-top: var(--padding-top);

  @include min-tablet {
    --padding-top: #{rem(160px)};
    padding-bottom: rem(160px);
  }

  .container {
    position: relative;

    .leftContainer {
      .wrapLeftContainer {
        position: unset;
        margin-bottom: rem(30px);
        top: rem(160px);

        .leftContainer-title {
          font-size: rem(68px);
          font-weight: 400;
          font-style: normal;
          line-height: 100%;
          margin-bottom: rem(24px);
          font-family: var(--righteous-font);
          width: 102%;

          @include mobile {
            font-size: rem(32px);
          }

          @include min-tablet {
            font-size: rem(68px);
          }
        }

        .leftContainer-subTitle {
          margin-bottom: rem(30px);
          color: #fff;

          @include min-tablet {
            margin-bottom: rem(40px);
          }
        }

        .leftContainerButton {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(8px);
          padding: rem(8px) rem(12px);
          border: 1px solid rgba(#fff, 0.2);
          background: rgba(#fff, 0.05);
          width: 100%;
          border-radius: rem(100px);
          transition: all 0.5s ease-in-out;
          font-size: rem(14px);
          line-height: 140%;

          .icon {
            svg {
              width: rem(14px);
              height: rem(14px);

              path {
                fill: #fff
              }
            }
          }

          &:hover {
            text-decoration: none;
            border: 1px solid #fff;
            background: #fff;
            color: #000;
          }

          @include min-tablet {
            font-size: rem(16px);
            padding: rem(16px) rem(24px);
            width: fit-content;
          }

        }

        @include min-tablet {
          position: sticky;
        }
      }
    }

    .right-container {
      > div {
        margin-bottom: rem(60px);

        &:last-child {
          margin-bottom: unset;
        }

        @include mobile {
          margin-bottom: rem(30px);
        }

        @include min-tablet {
          margin-bottom: rem(60px);
        }
      }
    }
  }
}
