.accordion {
  &_item {
    border: none;

    h2 > button {
      background: none !important;
      padding: 0;
      outline: none;
      border: none;
      margin: 0;

      &:focus {
        outline: none !important;
        box-shadow: none;
      }

      &:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' style='fill:black; stroke:none' viewBox='0 0 16 16' fill='%23FEB7EE'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }
    }
  }

  &_body {
    padding: 0 !important;
    margin: rem(16px) 0 !important;
  }
}

.accordion_container {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.filterAttribute {
  &_accordionHeader {
    font-size: rem(16px);

    :global(.accordion-button:not(.collapsed)) {
      box-shadow: none !important;
    }
  }

  &_title {
    color: #000;
    font-size: 16px;
    line-height: 140%;
    padding-left: 0;
    // margin-bottom: 5px;
  }

  &_content {
    font-size: rem(14px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(20px);

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: rem(10px);
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(20px);
    }

    @include pcSmall {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(20px);
    }

    @include pcS2M {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(20px);
    }
  }
}
