.hero {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;

  &_inner {
    position: absolute;
    bottom: rem(48px);
    width: 100%;
    text-align: center;
    z-index: 2;
  }
}