.wrapper {
  padding-top: rem(20px);
  text-align: center;
  max-width: rem(815px);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: rem(100px);

  h2 {
    font-size: rem(40px);
    font-weight: 500;
    line-height: 56/40;
    margin-bottom: rem(60px);
  }

  .faq_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(32px);
  }

  :global(.accordion-button::after) {
    display: none;
  }

  :global(.accordion-button) {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .item {
    border: none;
    .item_header {
      margin: 0;
      padding: 0;

      p {
        font-size: rem(20px);
        line-height: 28/20;
        letter-spacing: -0.5px;
      }
    }
    .item_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
    .item_title_border {
      transition: all 0.3s ease-in-out;
      padding-bottom: rem(32px);
      border-bottom: 1px solid #ececec;
    }

    .item_body {
      text-align: left;
      padding: 0;
      padding-top: rem(12px);
      padding-bottom: rem(32px);
      font-size: rem(16px);
      line-height: 22/16;
      border-bottom: 1px solid #000;
    }
  }
}
