.attribute {
  width: 100%;

  &_box {
    width: 100%;
    // min-height: 100vh;
    z-index: 100;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    // min-height: 50px;
  }

  &_container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    position: fixed;
    font-size: rem(16px);
    border-radius: rem(100px);
    align-items: center;
    bottom: rem(32px);
    gap: rem(12px);

    @include min-tablet {
      padding: rem(8px);
      box-shadow: 0px 0px 32px -6px #0000001a;
      border: 1px solid #ececec;
      background: #ffffff;
    }

    .isHide {
      display: none;
    }
  }

  &_leftContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(16px);
    gap: rem(8px);
    margin-right: 0;

    padding: rem(4px);
    box-shadow: 0px 0px 32px -6px #0000001a;
    border: 1px solid #ececec;
    background: #ffffff;
    border-radius: rem(100px);

    @include min-tablet {
      margin-right: rem(24px);
      padding: 0;
      box-shadow: unset;
      border: unset;
      background: unset;
      border-radius: unset;
    }
  }

  &_rightContainer {
    display: flex;
    align-items: center;
    border-radius: rem(100px);
    margin-left: 0;
    padding: rem(10px);
    box-shadow: 0px 0px 32px -6px #0000001a;
    border: 1px solid #ececec;
    background: #ffffff;
    border-radius: rem(100px);

    &_dropdownToggle {
      width: 100%;
      display: none;

      @include min-tablet {
        display: block;
      }
    }

    &_dropdownToggle::after {
      content: none !important;
    }

    .attribute_rarity_option:hover {
      opacity: 0.6;
    }

    @include min-tablet {
      gap: rem(16px);
      border-radius: unset;
      margin-left: rem(20px);
      box-shadow: unset;
      border: unset;
      background: unset;
      padding: 0;
    }
  }

  &_button {
    text-align: center;
    padding: rem(12px) rem(24px);
    color: #000;
    background: #f6f6f6;
    text-align: center;
    border-radius: rem(100px);
    font-size: rem(16px);
    line-height: rem(18px);
    transition: 0.5s $easeOutQuart;
    cursor: pointer;

    @include mobile {
      padding: rem(6px) rem(20px);
    }

    @include tablet {
      padding: rem(12px) rem(24px);
    }

    @include pcS2M {
      padding: rem(12px) rem(24px);
    }

    @include pcWide {
      padding: rem(12px) rem(24px);
    }

    &.active {
      background: #000;
      color: #f6f6f6;
    }

    &:hover {
      color: #f6f6f6;
      background: #000;
      transition: 0.5s $easeOutQuart;
    }
  }

  &_top_rarity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);

    p {
      margin-bottom: 0;
    }
  }

  &_rarity {
    height: rem(200px);

    &_container {
      width: fit-content;
      background: #fff;
      position: absolute;
      left: -10px;
      margin-bottom: rem(25px);
      padding: rem(8px);
      border-radius: rem(16px);
      box-shadow: 0px 0px rem(32px) rem(-6px) #0000001a;
      background: #ffffff;
    }

    &_option {
      border: none;
      outline: none;
      background: none;
      font-size: rem(16px);
      font-style: normal;
      color: #000;
      line-height: 140%;
      text-align: right;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }
  }

  &_filter {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
    line-height: rem(18px);
    padding-right: rem(6px);
    padding-left: rem(6px);

    p {
      margin-right: rem(4px);
    }

    @include min-tablet {
      gap: rem(6px);
      line-height: rem(42px);
      padding-left: 0;
      flex-direction: row;

      p {
        margin-right: 0;
      }
    }
  }

  &_divide {
    width: 1px;
    height: 24px;
    background: #ececec;
    display: none;

    @include min-tablet {
      display: block;
      flex-direction: row;
    }
  }

  &_chevronUp {
    margin-left: rem(14px);
  }

  &_iconLive {
    width: 0;
    height: 0;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    // position: absolute;
    right: -4px;
    // transform: translateX(calc(100%));
    display: none;

    .dots_circle {
      width: rem(8px);
      height: rem(8px);
      border-radius: 50%;
      background: #000;
    }

    @include min-tablet {
      display: block;
    }

    &_active {
      opacity: 1;
      width: rem(12px);
      height: rem(12px);
    }
  }

  &_mobileClose {
    display: flex;
    gap: rem(4px);
    align-items: center;
    padding: rem(7px) rem(16px);
    background: #fff;
    border-radius: rem(100px);
    border: 1px solid #ececec;
    cursor: pointer;

    @include min-tablet {
      display: none;
    }
  }

  &_mobileRarity {
    display: block;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    padding-bottom: rem(32px);
    margin-bottom: rem(32px);
    border-bottom: 1px solid #ececec;

    &_header {
      font-size: rem(16px);
      font-weight: 500;
    }

    &_item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: rem(8px);
      flex-direction: row;
      line-height: 100%;
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      color: black;
      border-radius: 8px;
      padding: rem(10px) rem(8px);
      font-size: rem(14px);

      span {
        width: rem(16px);
        height: rem(16px);
        border: 1px solid #b6b6b6;
        background: #fff;
        border-radius: rem(8px);
      }

      &:active {
        background: unset;
        color: #000;
      }

      &:hover {
        text-decoration: unset;
      }

      &:hover {
        background: unset;
      }
    }

    &_itemChecked {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: rem(8px);
      flex-direction: row;
      line-height: 100%;
      background: #ffffff;
      border: 1px solid #000;
      box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      color: black;
      border-radius: 8px;
      padding: rem(10px) rem(8px);
      font-size: rem(14px);

      &:active {
        background: unset;
        color: #000;
      }

      &:hover {
        text-decoration: unset;
      }

      &:hover {
        background: unset;
      }

      span {
        width: rem(16px);
        height: rem(16px);
        border: 1px solid #000;
        background: #000;
        border-radius: rem(8px);
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: rem(8px);
          height: rem(8px);
          border-radius: rem(5px);
        }
      }
    }

    @include min-tablet {
      display: none;
    }
  }

  &_backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.95);
  }
}

.filter {
  &_container {
    padding: rem(6px) rem(8px);
    gap: rem(4px);
  }

  &_dropdownToggle {
    cursor: pointer;
  }
}

.filterAttribute {
  width: 100%;

  &_container {
    position: fixed !important;
    overflow: hidden;
    margin-right: rem(-10px);
    border: 1px solid #ececec;
    box-shadow: 0px 0px rem(24px) rem(-6px) rgba(0, 0, 0, 0.12);
    border-radius: rem(20px);
    padding: rem(20px);
    width: 90vw;
    height: 88vh;
    left: 50% !important;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    transform: translate(-50%, -88px) !important;

    @include min-tablet {
      height: 55vh;
      width: 70vw;
      transform: translate(-50%, -100px) !important;
    }

    @include pcMid {
      max-width: rem(715px);
    }
  }

  &_header {
    font-size: rem(16px);
    font-weight: 500;
    line-height: 140%;
    margin-bottom: rem(24px);

    @include min-tablet {
      font-size: rem(20px);
    }
  }

  &_boxComponent {
    height: 100%;
    width: 100%;
  }

  &_component {
    height: 100%;
    overflow-y: unset;
    overflow-x: unset;

    @include min-tablet {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
