@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.animationBorder {
  --border-size: 10px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      transparent,
      transparent,
      transparent
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #ffb969, #ff7e21);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}
