.introduce {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba($color: #000000, $alpha: 0.3);
    z-index: 10;

    .introduceBox {
        position: absolute;
        left: 10.5%;
        top: 50%;
        transform: translateY(-50%);
        max-width: rem(932px);

        .introduceBox-title {
            font-family: var(--righteous-font);
            font-size: rem(68px);
            font-weight: 400;
            line-height: 100%;
            margin-bottom: rem(24px);
            color: #fff;
        }

        .introduceBox-desc {
            font-size: rem(24px);
            line-height: 130%;
            font-weight: 500;
            color: #fff;
            margin-bottom: rem(40px);
        }

        .introduceBox-buttons {
            display: flex;
            gap: rem(12px);

            .button {
                padding: rem(16px) rem(40px);
                border-radius: 100px;
                cursor: pointer;
                font-size: rem(16px);
                line-height: rem(16px);


                &.init {
                    border: 1px solid #fff;
                    background: #fff;
                    color: #000;
                }

                &.trans {
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    background: rgba(255, 255, 255, 0.05);
                    color: #fff;
                }
            }
        }

        .introduceVideo {
            margin-top: rem(43px);
            padding-top: rem(43px);
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            .introduceVideo-title {
                text-transform: uppercase;
                font-weight: 400;
                font-size: rem(14px);
                line-height: 140%;
                color: #fff;
                margin-bottom: rem(12px);
            }

            .wrap-video {
                width: 212px;

                img {
                    width: 100%;
                    height: auto;
                }

                .modalPlay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }
        }
    }
}