.wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  margin-top: rem(24px);
  // height: calc(80vh - 202px);
  // height: 200px;
  height: auto;
  overflow: scroll;
}

.feature_wrapper {
  padding: rem(10px);
  background: #f6f6f6;
  border: 1px solid #ececec;
  border-radius: 8px;
}

.feature_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(16px);
  background: #ffffff;
  padding: rem(16px);
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  row-gap: rem(12px);

  > div:nth-of-type(2) {
    flex: 1;
  }

  @media screen and (max-width: 475px) {
    flex-wrap: wrap;
  }

  // p:nth-child(2) {
  //   opacity: 0.6;
  //   text-transform: uppercase;
  // }
}
