.content_auction {
  &_tabAttr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: rem(16px);
    border-bottom: 1px solid #ececec;
    margin-bottom: rem(16px);
  }

  &_tabAttrType {
    font-size: rem(14px);
    margin-bottom: rem(4px);
    line-height: 140%;
    opacity: 0.6;
    text-transform: capitalize;
  }

  &_tabAttrTypeName {
    font-size: rem(16px);
    margin-bottom: 0;
    line-height: 140%;
    color: #000000;
    font-weight: 500;
  }

  &_tabAttrRare {
    font-weight: 500;
    text-align: center;
    border-radius: rem(16px);
    background: #ffffff;
    padding: rem(2px) rem(8px);
    font-size: rem(14px);
    margin-bottom: rem(4px);
    line-height: 140%;
    box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.8);
  }
}

.wrapper {
  overflow: scroll;
  padding-top: rem(16px);
  padding-bottom: rem(60px);
}
