.claimPage {
    width: 100%;
    margin-top: rem(84px);
    height: calc(100vh - rem(84px));

    .container {
        height: 100%;
        position: relative;

        .row {
            height: 100%;

            .column {
                height: 100%;

                .wrapBox {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    .claimBox {
                        position: relative;
                        z-index: 2;
                        width: 100%;
                        margin: 0 auto;
                        background: #fff;
                        box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.12);
                        border-radius: rem(20px);
                        padding: rem(32px);
                        transition: .5s $easeOutQuart;
                        box-sizing: border-box;

                        &.success {
                            top: 54px;
                        }
                    }

                    .successNoti {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: fit-content;
                        padding: rem(4px) rem(12px);
                        display: flex;
                        align-items: center;
                        gap: rem(8px);
                        background: #FFFFFF;
                        box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.08);
                        border-radius: 100px;

                        .status {
                            font-weight: 400;
                            font-size: rem(16px);
                            line-height: 140%;
                            color: #000;
                            margin-bottom: unset;
                        }

                        .dot {
                            width: rem(5px);
                            height: rem(5px);
                            background: #D9D9D9;
                            border-radius: 10px;
                        }

                        .date {
                            font-weight: 400;
                            font-size: rem(16px);
                            line-height: 140%;
                            color: #5B5B5B;
                            margin-bottom: unset;
                        }
                    }
                }
            }
        }
    }
}