.claimPage {
  min-height: 100vh;

  .container {
    height: 100%;
    position: relative;

    .row {
      height: 100%;

      .column {
        display: flex;
        gap: rem(40px);

        .blockTitle {
          font-weight: 400;
          font-size: rem(32px);
          line-height: 140%;
          text-align: center;
          color: #0f1b01;
          margin-bottom: rem(32px);
        }

        .wrapBox {
          position: relative;
          padding-top: rem(190px);
          padding-bottom: rem(60px);
          flex: 1;

          .claimBox {
            position: relative;
            z-index: 2;
            width: 100%;
            margin: 0 auto;
            background: #fff;
            box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.12);
            border-radius: rem(20px);
            padding: rem(32px);
            transition: 0.5s $easeOutQuart;
            box-sizing: border-box;
          }

          .successNoti {
            width: fit-content;
            padding: rem(4px) rem(12px);
            display: flex;
            align-items: center;
            gap: rem(8px);
            background: #ffffff;
            box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.12);
            border-radius: 100px;
            white-space: nowrap;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: rem(24px);

            .status {
              font-weight: 400;
              font-size: rem(16px);
              line-height: 140%;
              color: #000;
              margin-bottom: unset;
            }

            .dot {
              width: rem(5px);
              height: rem(5px);
              background: #0ac681;
              border-radius: 10px;
            }

            .date {
              font-weight: 400;
              font-size: rem(16px);
              line-height: 140%;
              color: #5b5b5b;
              margin-bottom: unset;
            }
          }
        }
      }
    }
  }
}
