// style.module.scss

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;

  &_background {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 40px;
    &__imageleft {
      width: 337px; /* Adjust the width to your desired value */
      height: 337px; /* Adjust the height to your desired value */
      img {
        width: 100%;
        height: 100%;
      }
      z-index: 2;
    }
    &__imageright {
      width: 337px; /* Adjust the width to your desired value */
      height: 337px; /* Adjust the height to your desired value */
      img {
        width: 100%;
        height: 100%;
      }
      z-index: 3;
    }
  }

  &_foreground {
    position: absolute;
    z-index: 999;

    &__image {
      width: 390px; /* Adjust the width to your desired value */
      height: 390px; /* Adjust the height to your desired value */
    }
  }
}
