.claimContent {
  margin-top: rem(32px);

  .claimContent_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .claimContent_countdownWrapper {
    display: flex;
    align-items: center;
    gap: rem(8px);
  }

  .claimContent_countdownText {
    min-width: rem(130px);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
  }

  .claimContent_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .claimContent_title {
      font-size: rem(28px);
      line-height: 140%;
      font-weight: 500;
      color: #000;
      margin-bottom: unset;

      &.true {
        font-size: rem(20px);
      }
    }
  }

  .claimDesc {
    width: 100%;
    margin-top: rem(8px);

    .desc {
      font-weight: 400;
      font-size: rem(16px);
      line-height: 140%;
      color: #2e2e2e;
      margin-bottom: rem(18px);

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &.true {
    margin-top: rem(16px);
  }
}
