.text {
  &.size {
    &-d1,
    &-d2,
    &-32 {
      font-family: var(--righteous-font);
      font-weight: 400;
      line-height: 100%;
    }

    &-24,
    &-20,
    &-16 {
      font-weight: 400;
      line-height: 140%;
    }

    &-d1 {
      font-size: rem(68px);
    }

    &-d2 {
      font-size: rem(36px);
    }

    &-32 {
      font-size: rem(32px);
    }

    &-24 {
      font-size: rem(24px);
    }

    &-20 {
      font-size: rem(20px);
    }

    &-16 {
      font-size: rem(16px);
    }
  }
}
