.text {
  &.size {
    &-d0,
    &-d1,
    &-d2,
    &-d3,
    &-supper {
      font-weight: 400;
      line-height: 100%;
    }

    &-d1 {
      font-size: rem(68px);
    }

    &-d2 {
      font-size: rem(36px);
    }

    &-d3 {
      font-size: rem(32px);
    }

    &-d4 {
      font-size: rem(24px);
    }

    &-d5 {
      font-size: rem(20px);
    }

    &-body {
      font-size: rem(16px);
    }
  }
}
