.text {
  &.size {
    &-d1,
    &-d2,
    &-32,
    &-28 {
      font-family: var(--righteous-font);
      font-weight: 400;
      line-height: 100%;
    }

    &-24,
    &-20,
    &-16 {
      font-weight: 400;
      line-height: 140%;
    }

    &-d1 {
      font-size: rem(68px);

      @include mobile {
        font-size: rem(32px);
      }

      @include min-tablet {
        font-size: rem(68px);
      }
    }

    &-d2 {
      font-size: rem(36px);

      @include mobile {
        font-size: rem(18px);
      }

      @include min-tablet {
        font-size: rem(36px);
      }
    }

    &-32 {
      font-size: rem(32px);

      @include mobile {
        font-size: rem(16px);
      }

      @include min-tablet {
        font-size: rem(32px);
      }
    }

    &-28 {
      font-size: rem(28px);

      @include mobile {
        font-size: rem(14px);
      }

      @include min-tablet {
        font-size: rem(28px);
      }
    }

    &-24 {
      font-size: rem(24px);

      @include mobile {
        font-size: rem(12px);
      }

      @include min-tablet {
        font-size: rem(24px);
      }
    }

    &-20 {
      font-size: rem(20px);

      @include mobile {
        font-size: rem(12px);
      }

      @include min-tablet {
        font-size: rem(20px);
      }
    }

    &-16 {
      font-size: rem(16px);

      @include mobile {
        font-size: rem(10px);
      }

      @include min-tablet {
        font-size: rem(16px);
      }
    }
  }
}
