.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

.nav_container {
  display: flex;
  align-items: center;
  gap: 32px;

  .nav_item {
    opacity: 0.6;

    &.active {
      opacity: 1;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.connect_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid $gray-2;
  font-size: 14px;
  line-height: 18px;
  backdrop-filter: blur(2px);
}

.wallet_icon {
  width: 20px;
  height: 20px;
}

.profile {
  &_container {
    width: 240px;
    border-radius: 999px;
    background-color: $gray-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray-2;
    padding: 6px 8px;
    gap: 4px;
  }

  &_amount {
    border-radius: 999px;
    background-color: $white-primary;
    padding: 4px 8px;
    box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    line-height: 140%;

    &.warning {
      color: $red-primary;
    }
  }

  &_avatar {
    width: 32px;
    height: 32px;
    margin-right: -4px;
    margin-left: 4px;
    background: linear-gradient(0deg, #7196ff -0.45%, #2a5ee8 71.18%);
    border: 1px solid $white-primary;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    overflow: hidden;
  }
}

.tooltip_content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    color: $white-primary;
    margin: 0;
  }
}

.menu {

  &_divider {
    background-color: #ECECEC;
    height: 1px;
    width: 100%;
    margin: 24px 0;
  }

  &_container {
    margin-top: 8px;
    width: 100%;
    right: 0;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 20px;
  }

  &_title {
    text-align: left;
    color: #5B5B5B;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 5px;
  }

  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #ececec;
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 8px;
  }

  &_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    p {
      font-size: 16px;
      margin: 0;
      font-weight: 400;
      line-height: 22.4px;
    }
  }

  &_box {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 16px;

    p {
      margin-left: 8px;
      margin-bottom: 0;
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}