.tabs {
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;

  li {
    padding-right: rem(24px);

    @include pcSmall {
      padding-right: rem(14px);
    }

    @include pcMid {
      padding-right: rem(20px);
    }

    @include pcWide {
      padding-right: rem(24px);
    }
  }

  li > button {
    position: relative;
    line-height: 140%;
    font-size: rem(16px);
    font-style: medium;
    width: 100%;
    color: #898989;
    font-size: rem(16px);
    text-align: left;
    padding-left: 0;
    display: inline;
    padding-right: 0;
  }

  :global(.nav-link) {
    display: block;
    border: none;
    max-width: 100%;
    position: relative;

    &:hover {
      color: #1c1c1c;
    }
  }

  :global(.nav-link.active) {
    color: #1c1c1c;

    &::before {
      content: '';
      position: absolute;
      background: #1c1c1c;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
}

.wrapper {
  position: relative;
}

.alert_dots {
  width: rem(8px);
  height: rem(8px);
  border-radius: 50%;
  background-color: #ff4747;
  display: inline-block;
  margin-left: rem(2px);
  transform: translateY(-0.5px);
}

.explorer_link {
  position: absolute;
  top: rem(5px);
  right: 0;
  display: flex;
  align-items: center;
  gap: rem(4px);
  font-size: rem(16px);
  line-height: 140%;

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}
