.progressBar {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: rem(20px);
    width: 100%;
    height: auto;
    padding: 0 2.5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: rem(20px);

    .progress {
        position: relative;
        flex: 1;

        .line {
            width: 100%;
            height: 1px;
            background: rgba($color: #fff, $alpha: .2);
        }

        .point {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .btn {
        cursor: pointer;
    }
}