.videoBg {
  position: relative;
  width: 100%;
  height: 100vh;

  &_bg {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .wrapContent {
    max-width: rem(1074px);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}