.banner {
    position: fixed;
    top: rem(84px);
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: rem(12px) 0;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(16px);
    z-index: 5;

    .bannerText {
        margin-bottom: unset;
        font-size: rem(16px);
        line-height: 140%;
        font-weight: 400;
        color: #000;
    }

    .bannerButton {
        display: flex;
        align-items: center;
        background: #000;
        color: #fff;
        gap: rem(8px);
        padding: rem(8px) rem(12px);
    }
}