.grid {
  &_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }

  &_item {
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.12);

    &:nth-child(even) {
      grid-row: span 2;
    }

    &:nth-child(odd) {
      grid-row: span 1;
      height: 500px; /* Set the specific height for odd items */
    }
  }
}
