.wrapper {
  padding: rem(16px) 0;
  display: flex;
  align-items: center;
  gap: rem(34px);

  @include mobile {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: rem(28px);
    flex: 1;
    font-size: rem(14px);
    line-height: 22px;

    a:hover {
      text-decoration: none;
      opacity: 0.6;
    }

    @include mobile {
      display: none;
    }
  }
  .links_item {
    position: relative;

    .new_effect {
      // display: none;
      display: flex;
      align-items: center;
      gap: rem(4px);
      color: #ff7e21;
      font-size: rem(10px);
      position: absolute;
      white-space: nowrap;
      top: rem(-20px);
    }
  }

  &.dark {
    filter: invert(1);
    span {
      filter: invert(1);
    }
  }

  @include mobile {
    justify-content: center;
  }
}
