.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;

  &_over {
    position: absolute;
    top: 0;
    left: 0;
    width: vw(1227px);
    height: 100vh;

    &__right {
      left: auto;
      right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }

  &_icon {
    position: relative;

    &_dark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &_inner{
    position: absolute;
    bottom: rem(48px);
    width: 100%;
    text-align: center;
    z-index: 3;
  }
}